*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 280px;
    max-width: 500px;
    margin: 50px auto;
}

form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: antiquewhite;
    padding: 1em; 
    gap: 0.5em;
}

.justify-start{
    justify-self: start;
    align-self: center;
}

.justify-center{
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 410px) {
    form { grid-template-columns: 1fr; }
  }  
  
input[type=text],input[type=number]{
    border: 0.2em solid salmon;
}  

input[type=button]{
    border: 0.2em solid saddlebrown;
    background-color: bisque;
    font-size: 0.8em;
}  

input{
    padding: 0.3em;
    border-radius: 1em;
}

label{
    color: saddlebrown;
    font-weight: bold;
}


p{
    margin: 1em;
}

.rezultat{
    background-color: aquamarine;
    visibility: hidden;
    color: teal;
    font-weight: bold;
}
